{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<div class="sb-page-content" data-sb-reveal>
  <div class="sb-page-content__title" data-sb-reveal-item>
    <h1 class="font-title weight-bold">{{ page.title }}</h1>
  </div>

  {% if page.content != blank %}
    <div class="sb-page-content__body" data-sb-reveal-item>
      <div class="rte font-body weight-regular sb-flow-24">
        {{ page.content }}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
