{% liquid
  assign hide_reviews = false

  if product == blank
    assign hide_reviews = true
  else
    assign product_settings_ref = product.metafields.custom.sbv2_product_settings.value | default: product.metafields.custom.sbv2_product_settings
    if product_settings_ref != blank
      assign hide_reviews_value = product_settings_ref.hide_reviews.value | default: product_settings_ref.hide_reviews
      if hide_reviews_value == true or hide_reviews_value == 'true' or hide_reviews_value == 1 or hide_reviews_value == '1'
        assign hide_reviews = true
      endif
    endif
  endif
%}

{% unless hide_reviews %}
  <section class="sb-product-reviews" data-sb-reveal>
    {% for block in section.blocks %}
      <div class="sb-product-reviews__block" data-sb-reveal-item {{ block.shopify_attributes }}>
        {% render block %}
      </div>
    {% endfor %}
  </section>
{% endunless %}

{% stylesheet %}
  .sb-product-reviews {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product reviews",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Product reviews"
    }
  ]
}
{% endschema %}
